.App {
  display: grid;
  background: #93f698;
  grid-template-columns: 100%;
  grid-template-rows: 150px 100px 75%;
  grid-template-areas: "header header" "navbar navbar" "main main";
  text-align: center;
}

.Header {
  grid-area: header;
  background: #6898f8;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: 2px solid black;
}

.Nav {
  grid-area: navbar;
  background: #f87e68;
  border: 2px solid;
  margin: 20px;
  border: 2px solid black;
  padding: 10px;
}

.navItems {
  display: inline;
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
  justify-content: center;
}

.mainBody {
  border: 2px solid black;
  background: #e6a6f6;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articleCard {
  display: grid;
  background: #a2f8ed;
  grid-template-columns: 80% 20%;
  grid-template-rows: 60% 40%;
  border: 2px solid black;
  margin: 10px;
  width: 70%;
  align-content: center;
  text-align: center;
}

.fullArticle {
  background: #d8f693;
}

.fullArticle h3 {
  color: HSBA(0, 0, 0, 85);
  font-size: 32px;
  font-weight: bolder;
  text-align: justify;
  text-decoration: underline;
  margin: 10px;
  border: 2px solid black;
}

.fullArticle .p1 {
  color: HSBA(0, 0, 0, 60);
  font-weight: lighter;
  text-align: justify;
  margin: 10px;
  padding: 10px;
  font-size: 11px;
  border: 2px solid black;
}

.fullArticle .p2 {
  color: HSBA(0, 0, 0, 0, 75);
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}

.votesBox {
  background: #fd9fbe;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.commentCard {
  border: 2px solid black;
  margin: 10px;
}

select {
  right: 0;
}
